<header class="topbar">
  <div class="topbar-left">
    <div class="logo">
      <img class="logo-img" src="/images/HealthLink_logo.png" alt="HealthLink">
      <span class="logo-text">HealthLink</span>
    </div>

    <nav class="nav">
      <a class="nav-item active" href="javascript:void(0)">
        <img class="home-img"  src="/images/home-icon.png" >
        <span>Home</span>
      </a>
    </nav>
  </div>

  <div class="topbar-right">
    <div class="user-profile">
      <div class="avatar">JO</div>
      <div class="user-meta">
        <span class="user-name">John</span>
        <span class="user-role">Patient</span>
      </div>
      <svg class="caret-icon" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
      </svg>
    </div>
  </div>
</header>