<header class="topbar">
    <div class="topbar-left">
      <div class="logo">
        <span class="logo-icon">❤</span>
        <span class="logo-text">HealthLink</span>
      </div>
      <nav class="nav">
        <a class="nav-item active">
          <span class="nav-icon">
            <img src="/images/home-icon.png" alt="Home">
          </span>
          <span>Home</span>
        </a>
      </nav>
    </div>
  
    <div class="topbar-right">
      <div class="user">
        <div class="avatar">A</div>
        <span class="user-name">Admin</span>
        <span class="caret">▾</span>
      </div>
    </div>
  </header>